h1 {
    color: lightblue
    
}
#para1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#list1 {
    color: gold
}
#pic {
    width:500px;
    height:500px;
}
#list2 {
    color: forestgreen
}
#para2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}